<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Eat da Burger</title>
    <link ref="stylesheet" href="../../public/assets/css/burger_style.css">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/models/burger.js"></script> 
    <!--not really sure about this above script-->
</head>
<body>
    {{{body}}}
</body>
</html>